@font-face {
    font-family: mont;
    src: url(fonts/Mont-HeavyDEMO.otf);
}

body {
    font-family: mont;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
}

.wtherBtn,
.unitBtn,
.city,
.state{
    box-shadow: -1px 1px 5px #000000;
}


.title{
    font-family: mont;
    font-size: 96px;
    color: white;
    text-shadow: -1px 1px 5px #000000;
    transform: translate(0%,50%);

}

.footer{
    font-family: mont;
    font-size: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00b8c9;
    color: black;
    text-align: center;
}

.wtherBtn {
    margin-top: 3%;
    color: rgb(0, 0, 0);
    font-size: 48px;
    background-color: #00b8c9;
    border-radius: 16px;
    border: None;
    font-family: mont;
    height: 80px;
    width: 160px;
}

.unitBtn{
    color: rgb(0, 0, 0);
    font-size: 32px;
    background-color: #00b8c9;
    border-radius: 16px;
    border: None;
    font-family: mont;
    height: 60px;
    width: 60px;
}

.city{
    text-align: center;
    border: None;
    font-family: mont;
    font-size: 48px;
    color: rgb(0, 0, 0);
    height: 80px;
    width: 400px;
    border-radius: 16px;
    margin-top: 5%;
}

.state{
    text-align: center;
    border: None;
    font-family: mont;
    font-size: 48px;
    color: rgb(0, 0, 0);
    height: 80px;
    width: 100px;
    border-radius: 16px;
    margin-top: 5%;
}

.icon{
    animation-name: float;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    position: absolute;
    transform: translate(180%,50%);
    filter: invert(100%);
}

.output1{
    font-family: mont;
    font-size: 96px;
    color: white;
    text-shadow: -1px 1px 5px #000000;
    text-align: center;
}

@keyframes float{
    0% {top: -50px;}
    50% {top: -60px;}
    100% {top: -50px;}
}

.animate {
    animation-name: btnDown;
    animation-duration: 0.25s;
}

.animateSpin{
    animation-name: spin;
    animation-duration: 0.25s;
}

@keyframes btnDown{
    0% {scale: 100%;}
    50% {scale: 75%;}
    100% {scale: 100%;}
}

@keyframes spin{
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}