@font-face{
    font-family: mont;
    src: url(fonts/Mont-HeavyDEMO.otf);
}

body{
    font-family: mont;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
}

.wtherBtn,
.unitBtn,
.city,
.state{
    box-shadow: -1px 1px 5px #000000;
}

.container{
    scale: 135%;
    transform: translate(0%, 2.5%);
}

.title{
    font-family: mont;
    font-size: 91.2px;
    color: white;
    text-shadow: -1px 1px 5px #000000;
    transform: translate(0%, 47.5%);
}

.footer{
    font-family: mont;
    font-size: 142.5%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00b8c9;
    color: black;
    text-align: center;
}

.wtherBtn{
    margin-top: 2.85%;
    color: rgb(0, 0, 0);
    font-size: 45.6px;
    background-color: #00b8c9;
    border-radius: 15.2px;
    border: None;
    font-family: mont;
    height: 76px;
    width: 152px;
}

.unitBtn{
    color: rgb(0, 0, 0);
    font-size: 30.4px;
    background-color: #00b8c9;
    border-radius: 15.2px;
    border: None;
    font-family: mont;
    height: 76px;
    width: 76px;

    transform: translate(0%, -31.35%);
}

.city{
    text-align: center;
    border: None;
    font-family: mont;
    font-size: 45.6px;
    color: rgb(0, 0, 0);
    height: 76px;
    width: 380px;
    border-radius: 15.2px;
    margin-top: 4.75%;
}

.state{
    text-align: center;
    border: None;
    font-family: mont;
    font-size: 45.6px;
    color: rgb(0, 0, 0);
    height: 76px;
    width: 95px;
    border-radius: 15.2px;
    margin-top: 4.75%;
}

.icon{
    animation-name: float;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    position: absolute;
    transform: translate(171%, 47.5%);
    filter: invert(100%);
}

.output1{
    font-family: mont;
    font-size: 91.2px;
    color: white;
    text-shadow: -1px 1px 5px #000000;
    text-align: center;
}

@keyframes float{
    0% {top: -47.5px;}
    50% {top: -57px;}
    100% {top: -47.5px;}
}

.animate{
    animation-name: btnDown;
    animation-duration: 0.25s;
}

.animateSpin{
    animation-name: spin;
    animation-duration: 0.25s;
}

@keyframes btnDown{
    0% {scale: 95%;}
    50% {scale: 71.25%;}
    100% {scale: 95%;}
}

@keyframes spin{
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}
